{% if on_hold %}{! admin/forward?to=/&code=302 !}{% endif %}
{% if status == 'Sold' %} <h3 style="color: red;">Sold</h3>{% elseif status == 'Rented' %} <h3 style="color: red;">Rented</h3>{% endif %}
<div id="listings">
	<table><tr><td><p><img align="left" src="{{ main_image }}" alt="{{ title }}" width="335"></p></td>
		<td>{{ description|none }}
	<p><b>{{ price }}</b></p>
	<p><b>{{ MLS }}</b></p>
		</td></tr></table>
	{% if directions != '<p><br></p>' %}
	<h3>Directions</h3>
	{{ directions|none }}
	{% end %}
</div>
